*~
plan/
/target
target/
/dist
/corpus
/log
/secrets
/temp
/book/output
/craft-fonts
*.log
__pycache__/
crates/ui-egui/src/.DS_Store
crates/affinity/.DS_Store
.DS_Store
apps/.DS_Store
apps/photocraft-cli/.DS_Store
apps/photocraft/.DS_Store
assets/.DS_Store
assets/app-icon/hicolor/.DS_Store
book/src/.DS_Store
crates/.DS_Store
crates/algo/.DS_Store
crates/automation/.DS_Store
crates/cms/.DS_Store
crates/codecs/.DS_Store
crates/compose/.DS_Store
crates/engine/.DS_Store
crates/format/.DS_Store
crates/gpu/.DS_Store
crates/io/.DS_Store
crates/ops/.DS_Store
crates/paint/.DS_Store
crates/plugins/.DS_Store
crates/psd/.DS_Store
crates/raw/.DS_Store
crates/tablet/.DS_Store
crates/ui-egui/.DS_Store
docs/.DS_Store
packaging/.DS_Store
